html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  width: 100%;
  padding: 2rem 0;
  background-color: #f8f9fa;
}

.content-area {
  max-width: 1368px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-color: #82a9f9;
}

.menu-left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-row {
  border-bottom: 1px solid #f2f2f2;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.ant-menu-submenu-popup > .ant-menu {
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
